/* PRELOAD */
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(134deg, #FFF 4.02%, #FCE9F4 101.07%);
    z-index: 99;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: bold;
    z-index: 999999;
 }
 .loader-logo img{
    max-width: 150px;
 }
 .loader span {
     padding: 8px 20px;
     color: var(--primary-color);
     font-size: 24px;
     font-family: var(--title-font);
 }
